@mixin word($delay) {
  @include typo-heading-1;
  position: relative;
  padding-right: 0.025em;
  display: inline-block;
  overflow: hidden;
  line-height: 0.9;
  font-size: 6.25vw;

  @include mobile {
    font-size: 4.6rem;
  }

  & > span {
    @include tranlate-up-title;
    display: inline-block;
    transform: translateY(103%);
    animation-delay: $delay;
    font-weight: bold;
    color: $blue;
    transition: color 1s;
  }
}

.word-1 {
  @include word(0.6s);
}

.word-2 {
  @include word(0.7s);
}

.circle {
  display: inline-block;
  width: 4.5vw;
  height: 4.5vw;
  min-width: 35px;
  min-height: 35px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: $blue;
  margin-right: 0.3em;
  transition: background-color 1s;
}

.word-3 {
  @include word(0.8s);
  display: flex;
  align-items: center;
}

.word-4 {
  @include word(0.9s);
}

.contents-section {
  padding: calc(1.5rem + 2.5vw) 5.4vw;
  box-sizing: border-box;
  background-color: $green;
  color: $blue;
  transition: color 1s, background-color 1s;
  a {
    color: $blue;
    transition: color 1s;
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: calc(5rem + 2vw);
  text-transform: uppercase;
}

.smooth-wrapper {
  @include smooth-wrapper(100px);
}
